/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}
p1 {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}
nav ul li a:hover {
    color: #fff;
    background-color: #555;
    display: inline-block;
    display: block;
    padding: 5px 10px;
}
nav ul li a.active {
    background-color: #007bff;
}
nav ul li a.active:hover {
    background-color: #0056b3;
}
h2 {
    color: #333;
    margin-bottom: 10px;
}
responsive-image {
    max-width: 100%;
    height: auto;
}   
header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e40d0d;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: inline-grid;

}   
.container div {
    margin: 10px;;
    padding: 20px;
    background-color: #695118d4;
    font-family: 'Arial', sans-serif;
    border-radius: 5px;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav ul li {
        margin-bottom: 10px;
    }
}
@media (max-width: 480px) {
    nav ul li a {
        padding: 10px;
    }
}